/* nm = nav mobile */
.nm {
    display: none;
}

/* HEADER */

header {

    /*
    increase the height of the header area
    this is necessary to contain both the logo and nav
    */
    height: 8.5rem;

    /*
    header is already set to "display: flex" in main.css
    setting it here again just for clarity
    */
    /* make child elements of header arrange in a column */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 100%;
    /*
    Resetting the height for better spacing of the top menu.
    */
    height: 100%;
}

/* nd = nav desktop */
.nd {
    width: 100%;

    /* container of some dimension */
    /* this is important for contained elements */
    height: 30px;

    /* arrange li elements horizontally */
    display: flex;

    /* font format */
    color: white;
    font-size: 1.4rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    align-items: center;
}

.nd li {

    /* grow vertically */
    /* must be in container of some dimension */
    height: 100%;

    /* have each li element grow horizontally */
    flex-grow: 1;
}

.nd li a {

    /* grow vertically */
    /* must be in container of some dimension */
    height: 100%;

    /* center the text wrapped by the anchor elements */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.nd li a:hover {
    background-color: deepskyblue;
}

.text_header {
	font-weight: 300;
	font-size: 3.5rem;
}

footer {
    height: 140px;
}
.row {
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 500px;
	justify-content: flex-end; 
}.flex-container {
    flex-direction: row;
}
.uploadedFiles {
    width: 200px;
    height: 200px;
}
.grid-item {
    width: 90%;
}

.row label {
	margin-right: 10px;
}
