<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Project Step 5</title>
</head>
<body>

<form method="POST">
	<label for="Name">Name:</label>
	<input type="text" name="name">
	<br><br>
	<label for="Age">Age:</label>
	<input type="text" name="age">
	<br><br>
	<input type="submit">
</form>

<h1>{{.FirstName}} {{.LastName}}</h1>

</body>
</html>
